@page
@model Omada.Pages.AveragesChartModel
@{
    ViewData["Title"] = "AveragesGraph";
}

<div class="container">
    <div>
        <canvas id="chart">
        </canvas>
    </div>
    <table class="table table-light">
        @foreach (var team in Model.TeamsOpinions.Keys)
        {
            <tr>
                <td>
                    <button class="btn btn-light" id="@team" onclick="teamClick(this)">@team</button>
                    <div class="opinions" id="@team opinions" style="display: none">
                        <table class="table table-light">
                            @if (Model.TeamsOpinions.Where(t => t.Key == team).SelectMany(t => t.Value).Count() <= 0)
                            {
                                <tr>
                                    <th>No comments this week</th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Good Things</th>
                                    <th>Bad Things</th>

                                </tr>
                                @foreach (var opinion in Model.TeamsOpinions.Where(t => t.Key == team).SelectMany(t => t.Value).ToList())
                                {
                                    <tr>
                                        <td>
                                            @if(String.IsNullOrEmpty(opinion.SecondAnswer))
                                            {
                                                <p>No answer</p>
                                            }
                                            else
                                            {
                                                @opinion.SecondAnswer
                                            }
                                        </td>
                                        <td>
                                            @if (String.IsNullOrEmpty(opinion.ThirdAnswer))
                                            {
                                                <p>No answer</p>
                                            }
                                            else
                                            {
                                                @opinion.ThirdAnswer
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </td>
            </tr>
        }
        </table>
</div>


@section Scripts
{
<script>
    var dictionary = @Html.Raw(Json.Serialize(Model.AverageWeeks));
    function addData() {
        for (var key in dictionary) {
            if (dictionary.hasOwnProperty(key)) {
                var averages = dictionary[key].map(function (v) {
                        return {
                            x: v.week,
                            y: v.average
                    };
                });
                var color = colors();
                var current = {
                    fill: false,
                    borderColor: color,
                    label: key,
                    data: averages
                };
                myDatasets.push(current);
            }
        }
    }

    window.onload = createChart();
    function teamClick(button) {
      var name = button.id;
      var users = document.getElementById((name) + " opinions");
      if (users.style.display === "none") {
        users.style.display = "block";
      }
      else {
        users.style.display = "none";
      }
    };
</script>
}