@page
@model Omada.Pages.Shared.SurveyModel
@{
    ViewData["Title"] = "Survey";
}

<div class="formPost">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Survey.FirstAnswer">How do you rate the last week?</label><br />
            @for (int i = 1; i < 6; i++)
            {
                <input type="radio" value="@i" asp-for="@Model.Survey.FirstAnswer" />@i<br />
            }
            <span asp-validation-for="@Model.Survey.FirstAnswer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Survey.SecondAnswer">What was good?</label>
            <input type="text" asp-for="@Model.Survey.SecondAnswer" class="form-control" />
            <span asp-validation-for="@Model.Survey.SecondAnswer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Survey.ThirdAnswer">What was bad?</label>
            <input type="text" asp-for="@Model.Survey.ThirdAnswer" class="form-control" />
            <span asp-validation-for="@Model.Survey.ThirdAnswer" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-dark">Send!</button>
        <a asp-area="" asp-page="/Index" class="btn btn-dark">Cancel</a>
    </form>
</div>