@page
@model Omada.Pages.TeamsListModel
@{
    ViewData["Title"] = "Teams";
}

<div style="text-align: center; margin: auto; width: 50%; height: 10px; padding: 50px">
    <p id="message"></p>
</div>
<a class="btn btn-dark" asp-area="" asp-page="./EditTeam">Add New Team</a>
<table class="table table-light">
@foreach (var teamUsers in Model.Teams_Users.Keys)
{
    <tr>
        <td>
            <button class="btn btn-light" id="@teamUsers.Id" onclick="teamClick(this)">@teamUsers.Name</button>
            <div class="users" id="@teamUsers.Id users" style="display: none">
                <table class="table table-light">
                    @foreach (var user in Model.Teams_Users.Where(t => t.Key == teamUsers).SelectMany(t => t.Value).ToList())
                    {
                        <tr>
                            <td style="text-align: left; padding-left: 30%">@user.Email</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-dark"
                   asp-page="./EditTeam" asp-route-teamId="@teamUsers.Id">
                    Edit Team
                </a>
                <a class="btn btn-dark"
                   asp-page="./DeleteTeam" asp-route-teamId="@teamUsers.Id">
                    Delete Team
                </a>
            }
            else
            {
                @if (!Model.CheckIfUserInTeam(teamUsers.Id))
                {
                    <form method="post">
                        <button type="button" class="btn btn-dark" onclick="sendEmail(@teamUsers.Id)">Request To Join</button>
                    </form>
                }
                else
                {
                    if (Model.CheckIfUserIsLeader(teamUsers.Id))
                    {
                        <a class="btn btn-dark"
                           asp-page="./EditTeam" asp-route-teamId="@teamUsers.Id">
                            Edit Team
                        </a>
                        <a class="btn btn-dark"
                           asp-page="./DeleteTeam" asp-route-teamId="@teamUsers.Id">
                            Delete Team
                        </a>
                    }
                    else
                    {
                        <p>You are a member of this team</p>
                    }
                }
            }
        </td>
    </tr>
}
</table>

@section Scripts
{
<script>

    function setMessageAfterClick(text, color) {
        $('#message').fadeIn(1000);
        $('#message').text(text);
        $('#message').css("background-color", color);
        $('#message').css("padding", "10px");
        $('#message').css("font-weight", "bold");
        $('#message').delay(3000).fadeOut("slow");
    };
    function sendEmail(teamId) {
        var team = teamId;
        console.log(JSON.stringify(team));
        $.ajax({
            url: "/TeamsList",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            headers:
            {
                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            async: true,
            data: JSON.stringify(team),
            success: function (response) {
                setMessageAfterClick(response, "#7FE817");
                console.log("Message : " + response);
                }, 
            error: function (response, textStatus, errorThrown) {
                setMessageAfterClick(response.responseText, "#F75D59");
                console.log("Error : " + response.responseText + " Status: " + textStatus + " Http error:" + errorThrown);
            }
        }).done(function (result) {
        });
    };

    function teamClick(button) {
        var number = button.id;
        var users = document.getElementById((number) + " users");
        if (users.style.display === "none") {
            users.style.display = "block";
        }
        else {
            users.style.display = "none";
        }
    };
</script>
}

